#main_qna {
  background-color: #fff;
}
#main_qna .wrap {
  width: 890px;
}
#main_qna .wrap h2 {
  font-weight: 600;
  padding-bottom: 30px;
}
#main_qna .wrap ul {
}
#main_qna .wrap ul li {
  line-height: 2.5;
}
#main_qna .wrap ul li h3 {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  border-bottom: 1px solid;
}
#main_qna .wrap ul li h3::after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 13px;
  background-image:url(../img/down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 11px;
}
#main_qna .wrap ul li p {
  font-size: 17px;
  margin-top: 18px;
  margin-bottom: 30px;
  color: #333;
  letter-spacing: -0.5px;
  word-break: break-all;
}
#main_qna .wrap ul li p span.block{
  
}
#main_qna .wrap ul li p a.content {
  color: #0066D1;
  font-weight: 500;
  /*! border-bottom: 1px solid #0066D1; */
}
#main_qna .wrap ul li p span.bold {
  font-weight: 600;
}